					<div class="text-right">
						<a href="#" ng-click="authCtrl.logout()" class="btn btn-lg btn-danger">Log Out</a>
						
					  </div><br/>


				 
 
 <legend><h1> Write a Blog Post for the PLBL Baby</h1></legend>
 
 
 		

<form class="message-form" ng-submit="postsCtrl.sendPost()">

		<div class="header">
		 <p>Tag Name: <h1>{{ postsCtrl.categoryName }}</h1></p>
		</div>

		<div class="message-wrap" ng-repeat="post in postsCtrl.posts">
		  
		  <div class="message-info">
			<div class="user-name">
			  {{ postsCtrl.getDisplayName(post.uid) }}
			  <span class="timestamp">{{ post.timestamp | date:'short' }}</span>
			</div>
			
			
			<div class="message" style="font-size:30px; font-weight:bold;">
			 {{ post.head }}
			</div>
			 <br/><br/>

			<div class="message" style="font:cursive">
			 {{ post.body }}
			</div>
		  </div>
		</div>
		
		
 
       <div class="form-group">
        <label class="col-md-4 control-label" for="txtTitle">Title</label>
        <div class="col-md-4">
          <input id="txtTitle" name="txtTitle" ng-model="postsCtrl.title" type="text" placeholder="Post Title" class="form-control input-md">
        </div>
      <br/><br/><br/>
 
       
        <label class="col-md-4 control-label" for="txtPost">Post</label>
        <div class="col-md-4">
          <textarea class="form-control" id="txtPost" ng-model="postsCtrl.post" name="txtPost" placeholder="Enter Blog post here"></textarea>
        </div><br/>
		<button class="btn btn-default" type="submit">Add Blog Post</button>
      </div>
 
 

</form>

