



<br/><br/><br/><div>
 


<div >
  <form class="form-horizontal" ng-submit="addPost()">
    <fieldset>
      <!-- Form Name -->
      <legend><strong>Add a Blog Post</strong></legend>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="txtTitle">Title</label>
        <div class="col-md-4">
          <input id="txtTitle" name="txtTitle" ng-model="article.title" type="text" placeholder="Post Title" class="form-control input-md">
        </div>
      </div>
      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="txtPost">Post</label>
        <div class="col-md-4">
          <textarea class="form-control" id="txtPost" ng-model="article.post" name="txtPost"></textarea>
        </div>
      </div>
	  
      <div class="form-group">
        <label class="col-md-4 control-label" for="Date">Date :</label>
        <div class="col-md-4">
		{{ today | date:'MM/dd/yyyy @h:mm a' }}
          <input id="Date" name="Date" ng-model="article.date" type="date" placeholder="Date" class="form-control input-md">
        </div>
      </div>

		<div align="center">
	<p>Select An Approriate Tag From The Drop Down Menu</p><br/>
		<div class="dropdown" >
		<button onclick="myFunction()" class="dropbtn">Dropdown</button>
		<div id="myDropdown" class="dropdown-content">
			<a href="#entertainment">Entertainment</a>
			<a href="#sports">Sports</a>
			<a href="#politics">Politics</a>
			<a href="#health">Health</a>
		</div>
		</div><br/><br/>

	  
      <!-- Button -->
      <div class="form-group" >
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <input id="singlebutton" ng-disabled="!article.title || !article.post || !article.date" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
        </div>
      </div>
    </fieldset>
  </form>
</div>
                

    
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>