input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

p.error.validationerror {
  color: red;
  padding-bottom: 10px;
}

h3 {
  margin-bottom: 30px;
}

.navbar-default .navbar-brand {
  color: #337ab7;
}

.navbar-default .navbar-brand:hover {
  color: #286090;
}

div.col-xs-10 {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 20px;
}

h2 span {
  color: #5cb85c;
}

li.list-group-item {
  min-width: 250px;
}

button.btn-warning {
  margin-right: 5px;
}

.edit-input {
  max-width: 205px;
  margin-right: 5px;
  height: 23px;
  border-color: #ec971f;
}
